<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.mapper.UserMapper">
    <select id="Log" resultType="com.lh.pojo.User">
        select *
        from t_user
        where username = #{username} and password = #{password}
    </select>
    <insert id="Register" parameterType="com.lh.pojo.User">
        insert into t_user(username,password,email,role)
        values(#{username},#{password},#{email},#{role})
    </insert>
    <select id="findAllUsers" resultType="com.lh.pojo.User">
        select *
        from t_user
    </select>
    <select id="findUserByUsername" parameterType="string" resultType="com.lh.pojo.User">
        select *
        from t_user
        where username=#{username}
    </select>
</mapper>